@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes logo-animation {
  from {
    width: 0;
  }

  to {
    width: 25vh;
  }
}
@keyframes card-grow {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 14rem;
  }
}
.custom-placeholder::placeholder {
  color: #dc2626;
  /* Replace with your desired color */
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dfe2e4;
}
